.about-content-section {
	display: flex;
}

.about {
    flex: 5;
    box-sizing: border-box;
	font-size: 17px;
	text-align: justify;
	min-width: 650px;
	height: 800px;
	padding: 1vh 0;
/*	display: flex;
	flex-direction: column;
*/}

@media (max-width: 700px) {
    .about {
        min-width: 300px;
    }
}


.about h2 {
	font-size: calc(2vmax + 10px);
	color: darkslategrey;
	margin-bottom: 2vh;
	font-weight: 500;
}

.about p:first-child {
	/*margin: 0;*/
	padding: 3vh 0 0 0;
}

.text-box {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.email {
	margin-top: 2vh;
	border-style: solid;
	border-width: 0 0 2px 0;
	width: 100%;
	height: 1.5em;
	min-width: 20ch;
	font-family: "arial", sans-serif;
}

.message {
	font-family: "arial", sans-serif;
	border-style: solid;
	border-width: 0 0 2px 0;
	width: 100%;
	margin-top: 5vh;
	/* height: 1.5em; */
}

.message:focus, .email:focus {
	outline-width: 0;
}

.about .submit {
	margin-bottom: 20vh;
}