.left-menu {
    margin-top: 20vh;
    margin-left: 2vw;
}

.left-menu ul, .left-menu a {
	text-align: left;
	font-size: 1.1em;
	text-decoration: none;
	/* margin-left: 3vw; */
	/* text-indent: -3vw; */
	color: #185886;
	font-weight: 700;
    min-width: 150px;
    margin: 0;
}

.left-menu h2 {
    /* margin-left: 25%; */
    color: darkslategray;
    margin-bottom: 1.5vh;
}

.organisation {
    display: none;
    align-self: flex-start;
    margin-bottom: 2vh;
}

.organisation * {
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    margin: 0;
    color: #185886;
}

.organisation h2 {
    font-size: 20px;
    margin-top: 4vh;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr auto;
    text-align: center;
    height: fit-content;
}

.equipment-grid * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px red;
    /* margin: 1px; */
    /* background-clip: border-box; */
    /* margin: 0; */
    /* padding: 0; */
    /* height: 100%; */
}

.info-row {
    grid-column-start: 1;
    grid-column-end: 5;
    /* height: fit-content; */
    display: none;
}

@media (max-width: 800px) {
    .left-buffer {
        flex: 0;
        display: none;
    }
    .right-buffer {
        flex: 0;
        display: none;
    }
    .organisation {
        display: block;
    }
    .top-floor {
        justify-content: center;
    }
    .left {
        max-width: 560px;
        min-width: 300px;
    }
}
@media (max-width: 600px) {
    .left{
        padding: 10px;
        /* font-size: ; */
    }
}