.equipment-grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr auto;
    text-align: center;
    height: fit-content;
    border-top: solid 2px darkslategrey;
}

.equipment-grid > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 2px red; */
    /* margin: 1px; */
    /* background-clip: border-box; */
    margin: 0;
    padding: 0;
    border-left: solid 2px darkslategrey;
    /* height: 100%; */
    overflow: hidden;
}

.info-row {
    grid-column-start: 1;
    grid-column-end: 5;
    display: none;
    border-left: none;
    border-top: solid 4px lightcoral;
}

.grid-picture {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.root-grid {
    font-size: clamp(10px, 4vw, 3em);
    color: white;
    font-weight: 700;
    background-color: #69857c;
    border-left: none;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.full-size-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    animation: fade-in 0.5s;
}

.full-size-icon > * {
    height: 100%;
    width: 100%;
}

.equipment-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #69857cc0;
    font-family: Calibri, Arial, sans-serif;
    animation: fade-in 0.5s;
}

@media (max-width: 600px) {
    .equipment-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .third-pic {
        display: none;
    }
}

@media (max-width: 400px) {
    .equipment-grid {
        border-top-width: 1px;
    }
    .equipment-grid > * {
        border-left-width: 1px;
    }
    .root-grid {
        border-left: none;
    }
}