body {
	/*background-image: url("055.jpg");
	background-size: 100vw;*/
	margin: 0;
    /* height:100%; */
	flex-direction: column;
	display: flex;
	font-family: "calibri", sans-serif;
}

.dropdown {
	display: none;
}

.header {
	/*background-image: url("header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	/*height: 13vmax;*/
	display: flex;
	flex-direction: column;
	/*background-color: darkslategrey;*/
	background-color: #69857c;
}

.logo-text {
	height: 20vh;
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 100%;
	margin-left: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 90%;
}

.header-text {
	flex: 1;
	font-size: 5vmin;
	font-family: "arial", sans-serif;
	color: white;
	/* white-space: nowrap; */
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	/*position: relative;*/
}

.right-space {
	width: 10vmax;
}

/*Using flex precludes this method*/
/*.header-text h2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.nav {
	flex: 1;
	background-color: white;
	display: flex;
	justify-content: space-around;
	text-align: center;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #4e6e64;
}

.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	border-top: 2px solid #4E6E64;
	z-index: 1;
}

.nav > * {
	/*display: inline-block;*/
	width: auto;
	color: firebrick;
	font-family: "calibri", sans-serif;
	font-size: 1.2em;
	text-align: center;
	padding: 5px 8px;
	font-weight: 700;
	text-decoration: none;
}

.nav a {
	color: #185886;
}


.branch-menu {
	padding: 0;
	margin: 0;
	box-shadow: 3px 3px 3px dimgrey;
	border: solid 1px darkslategrey;
	border-top-width: 2px;
    position: absolute;
    top: 100%;
    z-index: 1;
	left: 0px;
	/* color: #185886; */
	color: darkorange;
    box-sizing: border-box;
	background-color: white;
	/* background-color: #69857c; */
	white-space: nowrap;
	font-size: 1em;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	/* cursor: pointer; */
}

.branch-menu ul {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.branch-menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size: 1em;
	color: darkorange;
}

.branch-menu a {
	display: block;
	padding: 8px 12px 10px 8px;
	text-decoration: none;
	font-size: 1em;
	color: inherit;
}

.branch-menu li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.branch-menu li:hover {
	box-sizing: border-box;
	background-color: darkorange;
	color: white;
}

.overwrite {
	left: auto;
    right: 0px;
    /* white-space: normal; */
}

.link:hover {
	color: darkorange;
}

.link2:hover {
	color: white;
    background-color: darkorange;
}

.link3:hover {
	color: firebrick;
	background-color: transparent;
}

.content-section {
	display: flex;
	flex-direction: column;
}

.top-floor {
	display: flex;
}

.left-buffer {
	flex: 2;
	box-sizing: border-box;
}

.right-buffer {
	flex: 2;
}

@media (max-width: 700px) {
	.right-buffer {
		flex: 0;
	}
	.left-buffer {
		flex: 0;
	}
	.about {
		margin: 0 5vw;
		min-width: 300px;
		font-size: 4vw;
	}
	.branch-menu {
		border: solid 1px darkslategrey;
		border-top-width: 2px;
	}
}
@media (max-width: 400px) {
	.nav * {
		font-size: 17px;
		padding: 5px 2px;
	}
	.sticky {
		border-top-width: 1px;
	}
	.nav {
		border-bottom-width: 1px;
	}
	.branch-menu {
		border-top-width: 1px;
	}
}


.title {
	padding: 5vh 0 0 0vw;
	font-size: 2em;
}

.left {
	flex: 5;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	text-align: justify;
	padding:  1vh 1vw 0 1vw;
	min-width: 500px;
	align-items: center;
}

.organisation {
	display: grid;
}

.left h2 {
	font-size: calc(2vmax + 10px);
	color: darkslategrey;
	margin-bottom: 2vh;
}

/*.left img {
	object-fit: contain;
	max-width: 100%;
	border-radius: 5px;
}*/

.left p {
	margin: 0 0 1vmax 0;
	font-weight: 400;
}

.twitter-container {
	/* border: 1px solid black; */
	border-radius: 5px;
	box-sizing: border-box;
	border: 10px solid lightgrey;
	margin: 1vh 0 0 0;
}

/* .right-home {
	background-color: grey;
} */

.footer {
	margin: 20vh 0 0 0;
	height: 120px;
	color: beige;
	background-color: #69857c;
	display: flex;
	align-items: center;
	justify-content: center;
}