body {
	/*background-image: url("055.jpg");
	background-size: 100vw;*/
	margin: 0;
    /* height:100%; */
	flex-direction: column;
	display: flex;
	font-family: "calibri", sans-serif;
}

.header {
	/*background-image: url("header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	/*height: 13vmax;*/
	display: flex;
	flex-direction: column;
	/*background-color: darkslategrey;*/
	background-color: #69857c;
}

.logo-text {
	height: 20vh;
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 100%;
	margin-left: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 90%;
}

.header-text {
	flex: 1;
	font-size: 5vmin;
	font-family: "arial", sans-serif;
	color: white;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	/*position: relative;*/
}

.right-space {
	width: 10vmax;
}

/*Using flex precludes this method*/
/*.header-text h2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.nav {
	flex: 1;
	background-color: white;
	display: flex;
	justify-content: space-around;
	text-align: center;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #4e6e64;
}

.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	border-top: 2px solid #4E6E64;
}

.nav * {
	/*display: inline-block;*/
	color: royalblue;
	font-family: "calibri", sans-serif;
	font-size: 1.2em;
	text-align: center;
	margin: 5px;
	font-weight: 700;
	text-decoration: none;
}

.nav a {
	color: #185886;
}

.nav a:hover {
	color: turquoise;
}

.content-section {
	display: flex;
	flex-direction: column;
}

.top-floor {
	display: flex;
}

.left-buffer {
	flex: 2;
	box-sizing: border-box;
}

.menu {
	margin-top: 20vh;
}

.menu ul, .menu a {
	text-align: left;
	font-size: 1.1em;
	text-decoration: none;
	margin-left: 3vw;
	text-indent: -3vw;
	color: #185886;
	font-weight: 700;
	min-width: 150px;
}

.menu h2 {
	margin-left: 25%;
}

/*.resizing-input input, .resizing-input span {
    font-size: 12px;
    font-family: Sans-serif;
    white-space: pre;
    padding: 5px;
}*/

.right-buffer {
	flex: 2;
}

@media (max-width: 700px) {
	.right-buffer {
		flex: 0;
	}
	.left-buffer {
		flex: 0;
	}
	.about {
		margin: 0 5vw;
		min-width: 300px;
		font-size: 4vw;
	}

}

.title {
	padding: 5vh 0 0 0vw;
	font-size: 2em;
}

.left {
	flex: 5;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	text-align: justify;
	padding:  1vh 1vw 0 1vw;
	min-width: 500px;
	align-items: center;
}

.organisation {
	display: grid;
}

.left h2 {
	font-size: calc(2vmax + 10px);
	color: darkslategrey;
	margin-bottom: 2vh;
}

/*.left img {
	object-fit: contain;
	max-width: 100%;
	border-radius: 5px;
}*/

.left p {
	margin: 0 0 1vmax 0;
	font-weight: 400;
}

.twitter-container {
	/* border: 1px solid black; */
	border-radius: 5px;
	box-sizing: border-box;
	border: 10px solid lightgrey;
	margin: 1vh 0 0 0;
}

/* .right-home {
	background-color: grey;
} */

.footer {
	margin: 20vh 0 0 0;
	height: 120px;
	color: beige;
	background-color: darkslategrey;
	display: flex;
	align-items: center;
	justify-content: center;
}